%base-button {
  color: black;
  text-decoration: none;
  @include font_sizes(19, 29);
}

%blue-button {
  display: inline-flex;
  align-items: center;
  color: $white;
  background-color: $hard_blue;
  text-decoration: none;
  border-radius: rem(48);
  padding: rem(17) rem(34);
  @include font_sizes(17, 24);
  @include for-width(-tablet) {
    padding: rem(14) rem(40);
    @include font_sizes(15, 22);
  }
  min-width: rem(150);
  text-align: center;
  display: inline-flex;
  justify-content: center;
}

%blue-button-arrow {
  @include for-width(+ tablet) {
    padding-right: rem(60);
    background-image: url("/img/btn-arrow.svg");
    background-size: 5px 8px;
    background-position: 88% 50%;
    background-repeat: no-repeat;
  }
}

.btn-nav {
  @extend %regular;
  @extend %base-button;
}

.blue-btn {
  @extend %bold;
  @extend %blue-button;
}

.blue-btn-arrow {
  @extend %bold;
  @extend %blue-button;
  @extend %blue-button-arrow;
  @include for-width(-tablet) {
    padding-left: rem(15);
    padding-right: rem(15);
    font-size: rem(14);
  }
}
